

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.container {
  display: flex;
  width: 700px;
  margin: auto;
}

.display {

  font-weight: 600;
  font-size: large;
}

.display-container{
  justify-content: flex-end;
  background-color: rgb(32, 116, 40);
}

.calc-button {
  margin: auto;
  flex-basis: 25%;
  border: 2px solid lightgrey;
  font-weight: 600;
  font-size: larger;
}

.basis-50{
  flex-basis: 50%;
}

.orange{
  background-color: rgb(102, 106, 103);
}
