#cabecerap {
    display: flex;
    flex-flow: row wrap;
    background-color: rgb(163, 83, 112);
    color: white;
    padding: 30px;
    justify-items: center;
    align-items: center;
    align-content: stretch;
    justify-content: center;
    position: sticky;
    top: 0;
    border-width: 10px;
    border-color: black;
}

#cabecerap div, div {
    color: rgb(252, 252, 252);
    text-decoration: none;
    text-transform: lowercase;
    padding: 2px 5px;
    font-size: 30px;
    font-style: oblique;
  }