@import url(variables.css);

body {
    color: var(--color-principal-frente);
}

body > * {
    text-transform: uppercase;
}
#cabecera {
    background-color: var(--color-cabecera-fondo);
    color: var(--color-cabecera-frente);
    padding: 10px;
    margin: -8px;
    display: flex;
    flex-direction: row;
    justify-items: flex-start;
    align-items: flex-start;
}
#cabecera nav {
    margin-left: 5px;
}
.error {
    color: var(--color-error-frente)!important;
    font-size: calc(var(--tamaño-medio) * var(--factor-grande));
}

.cursiva, td {
    font-style: italic;
    color: cyan;
}

h1, h2, h3 {
    font-weight: bold;
}

h1.falta {
    display: none;
}

.lista-open {
    list-style: circle;
}

form input[type=text] {
    color: var(--color-error-frente);
}
input[required] {
    border-color: green;
}

h1+h2 {
    font-style: italic;
}

footer p {
    
}
@media print {
    input[type=submit], input[type=reset],input[type=button], button {
        display: none;
    }

    form input[type=text] {
        border-style: none;
    }

}

#cabecera {
    display: flex;
    flex-wrap: nowrap;
    background-color: rgb(197, 92, 68);
    margin: 10px;
    padding: 20px;
    font-size: 30px;
    justify-content: center;
  }
  
#cabecera > div {
    background-color: #f1f1f1;
    width: 100px;
    margin: 10px;
    text-align: center;
    line-height: 75px;
    font-size: 30px;
  }

header {color: aqua; background-color: bisque;}
.características {
    display: flex;
    flex-wrap: wrap;
    background-color: DodgerBlue;
  }
  
  .características > div {
    background-color: #f1f1f1;
    width: 100px;
    margin: 10px;
    text-align: center;
    line-height: 75px;
    font-size: 30px;
  }

  .grid-container2 {
    display: grid;
    grid-template-areas:
      'Compromiso Compromiso Transparencia Transparencia Confianza Confianza Profesionalidad Profesionalidad'
      'Compromiso Compromiso Transparencia Transparencia Confianza Confianza Profesionalidad Profesionalidad'
      'C2 C2 T2 T2 D2 D2 P2 P2'
      'C2 C2 T2 T2 D2 D2 P2 P2';
    gap: 10px;
    background-color: #f32141;
    padding: 10px;
  }

  .item1 { grid-area: 7; }
  .item2 { grid-area: 8; }
  .item3 { grid-area: 9; }
  .item4 { grid-area: x; }
  .item5 { grid-area: 4; }
  .item6 { grid-area: 5; }
  .item7 { grid-area: 6; }
  .item8 { grid-area: "-"; }
  .item9 { grid-area: 1; }
  .item10 { grid-area: 2; }
  .item11 { grid-area: 3; }
  .item12 { grid-area: "+"; }
  .item13 { grid-area: 0; }
  .item14 { grid-area: "="; }
  .item15 { grid-area: "/"; }



  .calculadora {
    display:grid;
    grid:
        '7 7 8 8 9 9 x x'
        '4 4 5 5 6 6 - -'
        '1 1 2 2 3 3 + +'
        '0 0 0 0 = = / /';
    grid-gap: 10px;
    background-color: #2196F3;
    padding: 10px;
  }

  .calculadora > div {
    background-color: rgba(255, 255, 255, 0.8);
    text-align: center;
    padding: 20px 0;
    font-size: 30px;
  }
  
  .grid-container2 > div {
    background-color: rgba(21, 224, 75, 0.8);
    text-align: center;
    padding: 10px 0;
    font-size: 20px;
  }
  
  .dnav {display: flex;
    flex-wrap: wrap;
    background-color: rgb(26, 210, 97);
    justify-content: center;
    align-content: center;
border-width: 20px;
position: relative;}

  .dnav > div {background-color: #1f16cc;
    width: 100px;
    margin: 10px;
    text-align: center;
    line-height: 75px;
    font-size: 30px;}

    #calculadora {background: gray; border: 0;}
    #calculadora td {padding: 5px;}
    .cajita_valor {background-color: #35b9da; color: #dc4658; border: 3px solid #454545; width: 430px; height: 75px; font-family: Arial, Helvetica; font-size: 40px; line-height: 26	px; text-align: right; }
    .boton {width: 100px; height:100px; border: 2px solid #000; font-family: Arial; font-size: 30px; cursor: hand; background-color: #fff;}
    .boton_largo { width: 214px; height: 100px; border: 2px solid #000;  font-family: Arial; font-size: 30px; cursor: hand; background-color: #fff;}
    .funcion {font-weight: bold; color: #b00;}
